
@{
    ViewBag.Title = "KỸ THUẬT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var list_system_project = ViewData["list_system_project"] as List<Web_congty.Modal.FW.Project_system>;
}

<div id="banner-area" class="banner-area bg-overlay case-bg-overlay" style="background-image:url(/public/client/images/banner/baner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-heading case-banner-heading">
                    <h1 class="banner-case-title"><span>Kỹ Thuật</span> </h1>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.moidangnhap != null)
{
    <section class="container">
        <div class="container-fluid">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="success-alert_dangnhap">
                <strong><b class="text-danger">@ViewBag.moidangnhap</b> !!!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </section>
}
else
{
    if (ViewBag.thongbao != null)
    {
        <section class="container">
            <div class="container-fluid">
                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="success-alert">
                    <strong><b class="text-danger">@ViewBag.thongbao</b> !!!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </section>
    }
    else
    {
        <section id="main-container" class="main-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-heading">
                            <h2>
                                <span class="text-uppercase">Dự án nỗi bật</span>
                            </h2>
                            <span class="animate-border ml-auto mr-auto tw-mt-20 tw-mb-40"></span>
                        </div>
                    </div>
                </div>
                <!-- title Row End -->
                <div class="row challange-bg-pattern">
                    @{
                        foreach (var item in list_system_project)
                        {
                            <div class="col-md-4">
                                <div class="tw-case-study-box">
                                    <div class="case-img study-bg-lepvc">
                                        <a href="/System/Details/@item.Id"><img src="@item.Hinhanhmota" alt="QA_TECH" class="img-fluid lepvc__"></a>
                                    </div>
                                    <div class="casestudy-content">
                                        <a href="/System/Details/@item.Id"><h4>@item.Ten_DuAn</h4></a>
                                        <p>@item.Motangan</p>
                                        <div class="row">
                                            <div class="col-6 text-left">
                                                <ul>
                                                    <li><i class="fa fa-user-circle-o"></i> @item.Ten_KySu</li>
                                                    <li><i class="fa fa-calendar"></i> @item.Thoigianhoanthanh.GetValueOrDefault().ToString("MM/dd/yyyy")</li>
                                                </ul>
                                            </div>
                                            <div class="col-6 text-left">
                                                <ul>
                                                    <li><i class="fa fa-money"></i> <b style="color: #1e22ad">@item.Tongtien_DuAn.GetValueOrDefault().ToString("N0")</b> </li>
                                                    <li><i class="fa fa-map-marker"></i> @item.Diachi_DuAn</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    }
}


