@{
    ViewBag.Title = "";
    var list_data_news = ViewData["list_data_news"] as List<Web_congty.Modal.FW.Post>;
    var list_news_new = ViewData["list_news_new"] as List<Web_congty.Modal.FW.View_model.NextOrLast_News>;
    var Binhluanhaynhat = ViewData["Binhluanhaynhat"] as List<Web_congty.Modal.FW.View_model.Comment_Most>;
    var list_reply_comment = ViewData["list_reply_comment"] as List<Web_congty.Modal.FW.List_reply_comment_Result>;

    var list_commment_result = ViewData["list_commment_result"] as List<Web_congty.Modal.FW.list_comment_Result>;
}
@using Web_congty.Modal.FW
@model Comment
@section Scripts{
    <script src="~/Public/Client/js/details_post.js"></script>
}
<div id="banner-area" class="banner-area" style="background-image:url(/public/client/images/banner/banner5.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-heading">
                    <h1 class="banner-title">Blog</h1>
                    <ol class="breadcrumb">
                        <li><a href="#">Trang chủ</a></li>
                        <li>Blog details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                @{
                    foreach (var item in list_data_news)
                    {
                        <div class="post-content post-single">
                            @{
                                if (item.Type_post == true)
                                {
                                    <div class="post-media post-image">
                                        <img src="@item.Image" class="img-fluid" alt="QA_TECH">
                                    </div>
                                }
                                else
                                {
                                    <div class="post-media post-video">
                                        <img src="@item.Image" class="img-fluid" alt="">
                                        <a class="video-popup" href="">
                                            <div class="video-icon">
                                                <i class="icon icon-play"></i>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                            <div class="post-body">
                                <div class="entry-header">
                                    <div class="post-meta">
                                        <span class="post-meta-date">
                                            <i class="fa fa-clock-o"></i> <span class="day">@item.Time_up_post.GetValueOrDefault().ToString("dd/MM/yyyy")</span>
                                        </span>
                                        <span class="post-author">
                                            Người viết<a href="#"> @item.Author</a>
                                        </span>
                                        <span class="post-cat">
                                            <i class="icon icon-folder"></i><a href="#">@ViewBag.danhmuc</a>
                                        </span>
                                        <span class="post-comment"><i class="fa fa-eye" aria-hidden="true"></i>@item.View_client <a href="#" class="comments-link">Lượt xem</a></span>
                                    </div>
                                    <h2 class="entry-title">
                                        <a href="#">@item.Name</a>
                                    </h2>
                                </div>
                                <div class="entry-content">
                                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Details))
                                </div>
                                <div class="post-footer clearfix">
                                    <div class="post-tags pull-left">
                                        <strong>Tags: </strong>
                                        <a href="#">Financial</a>
                                        <a href="#">Our Advisor</a>
                                        <a href="#">30K</a>
                                    </div>
                                    <div class="share-items pull-right">
                                        <ul class="post-social-icons unstyled">
                                            <li><strong>Share: </strong></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- Post Content End -->
                @if (Binhluanhaynhat != null)
                {
                    foreach (var item in Binhluanhaynhat)
                    {

                        <div class="author-box">
                            <div class="author-img">
                                @if (item.Image_user != null)
                                {
                                    <img src="@item.Image_user" alt="QA_TECH">
                                }
                                else
                                {
                                    <img src="/public/Client/images/icon-image/author.jpg" alt="QA_TECH">
                                }
                            </div>
                            <div class="author-info">
                                <h3>@item.name_user</h3>
                                <p class="author-url"><a href="#">@item.time.ToString("dd/MM/yyyy")</a></p>
                                <p>
                                    @item.content_comment
                                </p>
                            </div>
                        </div>
                    }
                }
                <!-- Author Box End -->
                @{
                    foreach (var item in list_news_new)
                    {
                        <nav class="post-navigation clearfix">
                            @if (item.Id_first == 3000)
                            {
                                <div class="post-previous">
                                    <span> Không có bài trước đó</span>
                                </div>
                            }
                            else
                            {
                                <div class="post-previous">
                                    <a href="/Blog_details/Detals_News/@item.Id_first">
                                        <h3>
                                            @item.Name_news_first
                                        </h3>
                                        <span><i class="icon icon-arrow-left"></i>Bài trước</span>
                                    </a>
                                    <div class="media-left lepvc__ media-middle">
                                        <img alt="QA_TECH" src="@item.Image_first">
                                    </div>
                                </div>
                            }
                            @if (item.Name_news_last != "")
                            {
                                <div class="post-next">
                                    <a href="/Blog_details/Detals_News/@item.Id_last">
                                        <h3>
                                            @item.Name_news_last
                                        </h3>
                                        <span>Bài kế tiếp <i class="icon icon-arrow-right"></i></span>
                                    </a>
                                    <div class="media-right media-middle">
                                        <img alt="QA_TECH" src="@item.Image_last">
                                    </div>
                                </div>
                            }
                        </nav>
                    }
                }
                <!-- Post Nav End -->
                <div id="comments" class="comments-area">
                    <h3 class="comments-heading">@ViewBag.tongso Bình luận</h3>
                    <ul class="comments-list">
                        @foreach (var item_comment in list_commment_result)
                        {
                            <li>
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-1" id="this_hide_col_1">
                                            <div class="vote_comment">
                                                <div class="vote_up" onclick="VoteUP(@item_comment.Id)">
                                                    <i class="fa fa-caret-up fa-4x"></i>
                                                </div>
                                                <div class="number_vote" id="number_vote_@item_comment.Id">
                                                    @item_comment.Vote
                                                </div>
                                                <div class="vote_dowl" onclick="VoteDOWN(@item_comment.Id)">
                                                    <i class="fa fa-caret-down fa-4x"></i>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-11 col-xs-12">
                                            @if (item_comment.Image_cus != null)
                                            {
                                                <img class="comment-avatar_lepvc" alt="" src="@item_comment.Image_cus">
                                            }
                                            else
                                            {
                                                <img class="comment-avatar_lepvc" alt="" src="/public/Client/images/icon-image/avatar1.jpg">
                                            }
                                            
                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <span class="float-right">
                                                        <b class="collapsed" role="tab" id="headingOne_@item_comment.Id" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@item_comment.Id" aria-expanded="true" aria-controls="collapseOne_@item_comment.Id">
                                                            <small class="replay_comment">Trả lời</small>
                                                        </b>
                                                    </span>
                                                    <span class="comment-author"><a href="/Profile_User/Profile/@item_comment.Id_uer">@item_comment.name</a></span>
                                                    <span class="comment-date">@item_comment.Time.GetValueOrDefault().ToString("dd/MM/yyyy")</span>
                                                </div>
                                                <div class="comment-content-lepvc">
                                                    <p class="mb-0">
                                                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                                        @item_comment.Noi_dung
                                                    </p>
                                                    <span class="felling_is_of_your"><i onclick="Show_felling_ul_hide(@item_comment.Id)" class="fa fa-bandcamp"></i></span>
                                                    <input type="hidden" id="css_move_@item_comment.Id" value="1"/>
                                                    <ul class="felling_ul_hide" id="show_ul_li_@item_comment.Id">
                                                        <li class="felling_vote"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-thumbs-o-up"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-heart" aria-hidden="true"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-smile-o" aria-hidden="true"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-thumbs-down" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion" role="tablist">
                                    <div id="collapseOne_@item_comment.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_@item_comment.Id" style="">
                                        <div class="card-block">
                                            <form>
                                                <div class="form-group position-relative">
                                                    <input type="hidden" id="id_post" value="@ViewBag.Id_details">
                                                    <input class="form-control" id="noidung_@item_comment.Id" type="text" />
                                                    <div class="traloi_binhluan">
                                                        <i onclick="Send_comment(@item_comment.Id)" class="fa fa-level-up fa-2x" title="Gửi"></i>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var item in list_reply_comment)
                                {
                                    if (item_comment.Id == item.Id_reply)
                                    {
                                        <ul class="comments-reply">
                                            <li>
                                                <div class="comment">
                                                    @if (item.Image_cus != null)
                                                    {
                                                        <img class="comment-avatar float-left" src="@item.Image_cus" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img class="comment-avatar float-left" alt="" src="/public/Client/images/icon-image/author.jpg">
                                                    }
                                                    <div class="comment-body">
                                                        <div class="meta-data">
                                                            <span class="float-right">
                                                                <a class="comment-reply" href="#"></a>@*//Trả lời*@
                                                            </span>
                                                            <span class="comment-author">@item.name</span>
                                                            <span class="comment-date">@item.Time.GetValueOrDefault().ToString("dd/MM/yyyy")</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p class="mb-0">
                                                                @item.Noi_dung
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        }
                    </ul>
                    <!-- Comments-list ul end -->
                </div>
                <!-- Comments Area End -->
                <div class="comments-form comment-border">
                    <h3 class="title-normal">Để lại bình luận của bạn</h3>
                    @using (Html.BeginForm("Comment", "Blog_details"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" id="traloi">
                                    <input type="hidden" name="ID" value="@ViewBag.Id_details">
                                    @Html.TextBoxFor(model => model.Noi_dung, new { @class = "form-control", placeholder = "Bình luận của bạn ...." })
                                    @Html.ValidationMessageFor(model => model.Noi_dung)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix text-right">
                            <button class="btn btn-primary" type="submit">Bình luận</button>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                @{ Html.RenderAction("Sidebar", "Blog");}
            </div>
        </div>
    </div>
</section>
