
@{
    ViewBag.Title = "Dự án kỹ thuật";
}
@{
    var list_system = ViewData["list_system"] as List<Web_congty.Modal.FW.Project_system>;
}
@section Scripts{
    <script src="~/Public/Admin/js/project_system.js"></script>
    <script src="~/Public/Admin/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Public/Admin/plugins/ckeditor4-major/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('ChiTietDuAn')
    </script>
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <div class="menu-crud float-lg-right mt-2">
                    <ul>
                        <li class="d-inline-block mr-2">
                            <a id="Modal_system" class="btn btn-xs btn-success "><i class="fas fa-plus mr-1"></i> Thêm</a>
                        </li>
                        <li class="d-inline-block mr-2">
                            <a class="btn btn-xs btn-warning text-white disabled" id="edit_system"><i class="fas fa-user-edit mr-1"></i> Sửa</a>
                        </li>
                        <li class="d-inline-block">
                            <a class="btn btn-xs btn-danger text-white disabled" id="delete_system"><i class="fas fa-trash-alt mr-1"></i> Xóa</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <div class="col-md-12">
        <div class="content-category">
            <table class="table text-center table-bordered table-hover" id="myTable">
                <thead>
                    <tr>
                        <th style="width:5%;">#</th>
                        <th>Dự án</th>
                        <th>Kỹ sư</th>
                        <th>Thời gian</th>
                        <th>Hình ảnh</th>
                        <th>Tổng tiền</th>
                        <th>Thể loại</th>
                        <th>GHi chú</th>
                    </tr>
                </thead>
                <tbody id="show-body">
                    @{
                        foreach (var item in list_system)
                        {
                            <tr id="row_@item.Id">
                                <td>
                                    <input type="radio" name="radiocheck" class="activecheckedit" id="typehide_@item.Id" value="@item.Id" />
                                </td>
                                <td> @item.Ten_DuAn</td>
                                <td>@item.Ten_KySu</td>
                                <td>
                                    @item.Thoigiankhoicong.GetValueOrDefault().ToString("dd//MM/yyyy")
                                    <br />
                                    @item.Thoigiankhoicong.GetValueOrDefault().ToString("dd//MM/yyyy")
                                </td>
                                <td> <img src="@item.Hinhanhmota" alt="QA_tech" style="width:40px ; height:30px;" /></td>
                                <td>@item.Tongtien_DuAn.GetValueOrDefault().ToString("N0")</td>
                                <td>
                                   @{ 
                                       switch (@item.TheLoai_DuAn)
                                       {
                                           case 1:
                                                 <a id="color_status_@item.Id" class="btn btn-xs btn-danger" onclick='Sys_tem(@item.Id)'>Khóa</a>
                                               break;
                                           case 2:
                                                 <a id="color_status_@item.Id" class="btn btn-xs btn-primary" onclick='Sys_tem(@item.Id)'>Nỗi bật</a>
                                               break;
                                           case 3:
                                                <a id="color_status_@item.Id" class="btn btn-xs btn-warning" onclick='Sys_tem(@item.Id)'>Phổ biến</a>
                                               break;
                                       }
                                   }
                                </td>
                                <td> @item.Ghi_chu</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div><!-- het col-md-12 category -->


</div>
@RenderPage("modal/add_system.cshtml")