
@{
    ViewBag.Title = "Trang cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = ViewData["User"] as List<Web_congty.Modal.FW.tbl_Uers>;
}
@using Web_congty.Modal.FW
@section Scripts{
    <script src="~/Public/Client/js/User_client.js"></script>
}
<section id="main-container" class="main-container">
    <div class="container">
        <div class="profile_user">
            <div class="row">
                <div class="col-md-4">
                    @foreach (var item in User)
                    {
                        <div class="card">
                            @if (item.Image_cus != null)
                            {
                                <img id="hinhanh" class="card-img-top" src="@item.Image_cus" alt="Card image cap">
                            }
                            else
                            {
                                <img id="hinhanh" class="card-img-top" src="~/Public/Client/images/defaul_avatar.jpg" alt="Card image cap">
                            }
                            <div class="card-body">
                                <h5 class="card-title" id="hovaten">@item.name</h5>
                                @if (item.type_uer == 1)
                                {
                                    <span class="badge  badge-primary float-left">Khách</span>
                                }
                                @if (Session["Taikhoan"] != null)
                                {
                                    tbl_Uers tv = (tbl_Uers)Session["Taikhoan"];
                                    if (tv.Id == item.Id)
                                    {
                                        if (item.public_private == 1)
                                        {
                                            <span onclick="Private_User(@item.Id)" class="badge badge-primary float-right" id="color_status_@item.Id">Public</span>
                                        }
                                        else
                                        {
                                            <span onclick="Private_User(@item.Id)" class="badge badge-warning float-right" id="color_status_@item.Id">Private</span>
                                        }
                                    }
                                    else
                                    {
                                        if (item.folow != null)
                                        {
                                            if (ViewBag.theodoi != 0)
                                            {
                                                if (item.Id == ViewBag.theodoi)
                                                {
                                                    <span onclick="Folow_Me(@item.Id)" id="color_status_@item.Id" class="badge badge-warning float-right">Đang theo dõi</span>
                                                    <input type="hidden" id="theodoi__" value="1" />
                                                }
                                                else
                                                {
                                                    <span onclick="Folow_Me(@item.Id)" id="color_status_@item.Id" class="badge badge-primary float-right">Theo dõi</span>//3
                                                    <input type="hidden" id="theodoi__" value="1" />
                                                }
                                            }
                                            else
                                            {
                                                <span onclick="Folow_Me(@item.Id)" id="color_status_@item.Id" class="badge badge-primary float-right">Theo dõi</span>//2
                                                <input type="hidden" id="theodoi__" value="1" />
                                            }
                                        }
                                        else
                                        {
                                            <span onclick="Folow_Me(@item.Id)" id="color_status_@item.Id" class="badge badge-primary float-right">Theo dõi</span>//1
                                            <input type="hidden" id="theodoi__" value="1" />
                                        }
                                    }
                                }
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="fa fa-mobile"></i> <span id="sodienthoai">@item.phone</span></li>
                                <li class="list-group-item"><i class="fa fa-envelope-o"></i> @item.email</li>
                                <li class="list-group-item"><i class="fa fa-map-marker"></i> <span id="diachi">@item.addred</span></li>
                            </ul>
                            @if (Session["Taikhoan"] != null)
                            {
                                tbl_Uers tv = (tbl_Uers)Session["Taikhoan"];
                                if (tv.Id == item.Id)
                                {
                                    <div class="card-body text-sm">
                                        <a href="#" class="card-link">Đổi mật khẩu</a>
                                        <a href="/dang-bai-viet-moi-@item.Id" class="card-link ">Đăng bài</a>
                                        <a href="#" id="Edit_User_client" class="card-link"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </div>
                                }
                            }
                        </div>
                        <input id="id_user" type="hidden" value="@item.Id" />
                    }@*hết foreach*@
                </div>
                <div class="col-md-8">
                    @RenderPage("Baiviet.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade bd-example-modal-lg" id="myModal_edit_user">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin cá nhân</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:28%;">Tên</th>
                            <th style="width:30%;">Địa chỉ</th>
                            <th style="width:12%;">SĐT</th>
                            <th style="width:30%;">Hình ảnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input id="HoVaTen_User" type="text" class="input_edit_user" /></td>
                            <td><input id="DiaChi_User" type="text" class="input_edit_user" /></td>
                            <td><input id="Sodienthoai_User" type="text" class="input_edit_user" /></td>
                            <td>
                                <a href="#" class="new_Btn"><img id="Hinhanh_User" src="" alt="QA_TECH" style="width:50px;height:50px;" /></a>
                                <input id="html_btn" type='file'/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CapNhat()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>


