@{
    var list_slides = ViewData["list_slides"] as List<Web_congty.Modal.FW.Slider>;
}



<div class="tw-hero-slider owl-carousel">
    @{
        var so = 1;
        var slide = "";
        foreach (var item in list_slides)
        {

            switch (so)
            {
                case 1:
                    slide = "1";
                    break;
                case 2:
                    slide = "2";
                    break;
                case 3:
                    slide = "3";
                    break;
                default:
                    slide = "1";
                    break;
            }
            <div class="slider-@slide">
                @{
                    if (so % 2 == 0)
                    {
                        <div class="slider-wrapper d-table">
                            <div class="slider-inner d-table-cell">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <img src="@item.S_image" alt="" class="img-fluid slider-img">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="slider-content">
                                                <h1>@item.S_name </h1>
                                                <p>
                                                    @item.S_description
                                                </p>
                                                @*<a href="@item.S_link" class="btn btn-primary">CHI TIẾT</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="slider-wrapper d-table">
                            <div class="slider-inner d-table-cell">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <div class="slider-content">
                                                <h1>@item.S_name </h1>
                                                <p>
                                                    @item.S_description
                                                </p>
                                                @*<a href="@item.S_link" class="btn btn-dark">CHI TIẾT</a>*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="@item.S_image" alt="" class="img-fluid slider-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            so++;
        }
    }
</div>