
@{
    var list_taikhoankhachhang = ViewData["list_taikhoankhachhang"] as List<Web_congty.Modal.FW.tbl_Uers>;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title text-primary">TÀI KHOẢN KHÁCH WEBSITE</h3>
    </div>
    <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="card-body lepvc">
        <table class="table table-bordered" id="myTable3">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Tên tài khoản</th>
                    <th>Trạng thái</th>
                    <th>Cấp độ</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                    foreach (var item_taikhoankhachhang in list_taikhoankhachhang)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item_taikhoankhachhang.name</td>
                            <td class="text-center">
                                @if (@item_taikhoankhachhang.Run_status == 1)
                                {
                                    <a id="color_status_@item_taikhoankhachhang.Id" class="btn btn-xs btn-success" onclick=TaiKhoan_KH(@item_taikhoankhachhang.Id)>Hoạt động</a>
                                }
                                else
                                {
                                    <a id="color_status_@item_taikhoankhachhang.Id" class="btn btn-xs btn-danger" onclick=TaiKhoan_KH(@item_taikhoankhachhang.Id)>Khóa</a>
                                }
                            </td>
                            <td class="text-center">
                                @if (@item_taikhoankhachhang.type_uer == 1)
                                {
                                    <a id="color_status_user_@item_taikhoankhachhang.Id" class="btn btn-xs btn-warning" onclick=CapDo(@item_taikhoankhachhang.Id)>Khách</a>
                                }
                                else
                                {
                                    <a id="color_status_user_@item_taikhoankhachhang.Id" class="btn btn-xs btn-primary" onclick=CapDo(@item_taikhoankhachhang.Id)>Nhân viên</a>
                                }
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>