@{
    ViewBag.Title = "";
    var list_data_news_all_brand = ViewData["list_data_news_all_brand"] as List<Web_congty.Modal.FW.f__Count_post_Result>;
    var list_data_news_all = ViewData["list_data_news_all"] as List<Web_congty.Modal.FW.Post>;
    var list_data_danhmuccha_all = ViewData["list_data_danhmuccha_all"] as List<Web_congty.Modal.FW.Category>;
}

<div class="sidebar sidebar-right">
    <div class="widget widget-search">

        @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
        {
            <div id="search" class="input-group">
                <input name="STuKhoa" class="form-control" placeholder="Tìm kiếm bài viết..." type="search">
                @*<span>
                    <i class="icon icon-search" type="submit"></i>
                </span>*@
                <input type="submit"  value="Tìm kiếm" />
            </div>
        }


        <!-- End Input Group -->
    </div>
    <!-- End Widget Search -->
    <div class="widget widget-cat">
        <h5 class="widget-title">THỂ LOẠI</h5>
        <span class="animate-border border-offwhite tw-mt-20"></span>
        @{
            foreach (var item_danhmucha in list_data_danhmuccha_all)
            {
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@item_danhmucha.Id" aria-expanded="false" aria-controls="collapseOne">
                            <h4>
                                <a class="text-capitalize">
                                    @item_danhmucha.C_name
                                    <i class="faq-indicator fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne_@item_danhmucha.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="card-block">
                                <ul class="widget-list">
                                    @{
                                        foreach (var item in list_data_news_all_brand)
                                        {
                                            if (item.id_categories == item_danhmucha.Id)
                                            {
                                                <li>
                                                    <a href="/ListOfBlog/Index/@item.Id">@item.Name</a>
                                                    <span class="posts-count"> (@item.count_post)</span>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Categories end -->
    <div class="widget widget-adds">
        <a href="#">
            <img class="img-fluid anhquangcao" src="" alt="QA_tech">
        </a>
    </div>
    <!-- End Widget Adds -->
    <div class="widget recent-posts">
        <h3 class="widget-title">Bài viết nỗi bật</h3>
        <span class="animate-border border-offwhite tw-mt-20"></span>
        <ul class="unstyled clearfix">
            @{
                foreach (var item in list_data_news_all)
                {
                    <li class="media">
                        <div class="media-left media-middle">
                            <img alt="img" src="@item.Image">
                        </div>
                        <div class="media-body media-middle">
                            <h4 class="entry-title">
                                <a href="/Blog_details/Detals_News/@item.Id">@item.Name</a>
                            </h4>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            }
        </ul>
    </div>
    <!-- Recent post end -->
    <div class="widget widget-tags">
        <h3 class="widget-title">Popular Tags</h3>
        <span class="animate-border border-offwhite tw-mt-20"></span>
        <ul class="unstyled clearfix">
            <li><a href="#">Financial</a></li>
            <li><a href="#">Our Advisor</a></li>
            <li><a href="#">Euro 2017</a></li>
            <li><a href="#">Euro Business</a></li>
            <li><a href="#">Business Awards</a></li>
            <li><a href="#">Market</a></li>
            <li><a href="#">30K</a></li>
            <li><a href="#">Euro 2017</a></li>
        </ul>
    </div>
    <!-- Tags end -->
</div>
<!-- End Sidebar Right -->