
@{
    //ViewBag.title = ViewBag.title;
    var list_detais_software = ViewData["list_detais_software"] as List<Web_congty.Modal.FW.SoftWare_Case>;

    var list_commment_result_software = ViewData["list_commment_result_software"] as List<Web_congty.Modal.FW.list_comment_Result>;
    var list_reply_comment_software = ViewData["list_reply_comment_software"] as List<Web_congty.Modal.FW.List_reply_comment_Result>;
}
@using Web_congty.Modal.FW
@model Comment
@section Scripts{
    <script src="~/Public/Client/js/details_sw.js"></script>
}
@{
    foreach (var item in list_detais_software)
    {

        <div id="banner-area" class="banner-area bg-overlay case-bg-overlay" style="background-image:url(/public/Client/images/banner/baner.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-heading case-banner-heading">
                            <h1 class="banner-case-title">@item.Sw_name</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner area end -->
        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-heading">
                            <h2>
                                Chức năng & <span>Giải pháp</span>
                            </h2>
                            <span class="animate-border ml-auto mr-auto tw-mt-20 tw-mb-40"></span>
                            <p>
                                @item.Sw_title
                            </p>
                        </div>
                    </div>
                </div>
                <div class="media-bodyy vanle_pvc">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Sw_desc))
                </div>
            </div>
        </section>
    }
}

<section id="tw-pricing" class="tw-pricing">
    <div class="container">
        <div class="row text-center">
            <div class="col section-heading">
                <h2>
                    Gói <span>Dịch vụ</span>
                </h2>
                <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Section Heading Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="pricing-tab">
                    <ul class="nav">
                        <li class="nav-item">
                            <a data-toggle="tab" href="#monthly" class="">Tháng</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#yearly" class="active">Năm</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#dungthu">Dùng thử</a>
                        </li>
                    </ul>
                    <!-- Nav Tabs ends -->
                    <div class="tab-content tw-tab-content">
                        <div class="tab-pane" id="monthly">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="tw-pricing-box">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-price">
                                            <sup>$</sup>
                                            <strong>9</strong>
                                            <small>Tháng</small>
                                        </div>
                                        <div class="pricing-feaures">
                                            <h3>Entrepreneur</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing Features End -->

                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|1|1" class="btn btn-dark">CHỌN</a>
                                    </div>
                                    <!--  pricing box ends -->
                                </div>
                                <!-- COl end -->
                                <div class="col-md-4">
                                    <div class="tw-pricing-box pricing-featured">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon2.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-price">
                                            <sup>$</sup>
                                            <strong>29</strong>
                                            <small>Tháng</small>
                                        </div>
                                        <div class="pricing-feaures">
                                            <h3>Growing Business</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                                <li>24/7 support</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing Features End -->
                                        <!-- Pricing End -->
                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|1|2" class="btn btn-dark">CHỌN</a>
                                    </div>
                                    <!--  pricing box ends -->
                                </div>
                                <!-- COl end -->
                                <div class="col-md-4">
                                    <div class="tw-pricing-box">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon3.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-price">
                                            <sup>$</sup>
                                            <strong>49</strong>
                                            <small>Tháng</small>
                                        </div>
                                        <div class="pricing-feaures">
                                            <h3>Pro Business</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing Features End -->
                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|1|3" class="btn btn-dark">CHỌN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Content End -->
                        <div class="tab-pane active" id="yearly">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="tw-pricing-box">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-price">
                                            <sup>$</sup>
                                            <strong>7</strong>
                                            <small>Năm</small>
                                        </div>
                                        <div class="pricing-feaures">
                                            <h3>Entrepreneur</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing Features End -->
                                        <!-- Pricing End -->
                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|2|1" class="btn btn-dark">CHỌN</a>
                                    </div>
                                    <!--  pricing box ends -->
                                </div>
                                <!-- COl end -->
                                <div class="col-md-4">
                                    <div class="tw-pricing-box pricing-featured">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon2.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-price">
                                            <sup>$</sup>
                                            <strong>28</strong>
                                            <small>Năm</small>
                                        </div>
                                        <div class="pricing-feaures">
                                            <h3>Growing Business</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                                <li>24/7 support</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing Features End -->
                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|2|2" class="btn btn-dark">CHỌN</a>
                                    </div>
                                </div>
                                <!-- COl end -->
                                <div class="col-md-4">
                                    <div class="tw-pricing-box">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon3.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-price">
                                            <sup>đ</sup>
                                            <strong>47</strong>
                                            <small>Năm</small>
                                        </div>
                                        <div class="pricing-feaures">
                                            <h3>Pro Business</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing Features End -->
                                        <!-- Pricing End -->
                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|2|3" class="btn btn-dark">CHỌN</a>

                                    </div>
                                    <!--  pricing box ends -->
                                </div>
                                <!-- COl end -->
                            </div>
                        </div> <!-- Tab Content End -->
                        <div class="tab-pane" id="dungthu">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="tw-pricing-box">
                                        <div class="price-icon-bg">
                                            <div class="price-icon">
                                                <img src="/public/client/images/pricing/pricing_icon1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- End Pricing icon bg -->
                                        <div class="pricing-feaures">
                                            <h3>Entrepreneur</h3>
                                            <ul>
                                                <li>25 Analytics Compaign</li>
                                                <li>1,300 Keywords</li>
                                                <li>25 social media reviews</li>
                                                <li>1 Free Optimization</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing End -->
                                        <a href="/Dang-ky-dung-phan-mem/@ViewBag.Id_details_SoftWare|0|0" class="btn btn-dark">Dùng thử</a>
                                    </div>
                                    <!--  pricing box ends -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Post Nav End -->
                <div id="comments" class="comments-area">
                    <h3 class="comments-heading">@ViewBag.tongso Bình luận</h3>
                    <ul class="comments-list">
                        @foreach (var item_comment in list_commment_result_software)
                        {
                            <li>
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-1" id="this_hide_col_1">
                                            <div class="vote_comment">
                                                <div class="vote_up" onclick="VoteUP(@item_comment.Id)">
                                                    <i class="fa fa-caret-up fa-4x"></i>
                                                </div>
                                                <div class="number_vote" id="number_vote_@item_comment.Id">
                                                    @item_comment.Vote
                                                </div>
                                                <div class="vote_dowl" onclick="VoteDOWN(@item_comment.Id)">
                                                    <i class="fa fa-caret-down fa-4x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-11 col-xs-12">
                                            @if (item_comment.Image_cus != null)
                                            {
                                                <img class="comment-avatar_lepvc" alt="" src="@item_comment.Image_cus">
                                            }
                                            else
                                            {
                                                <img class="comment-avatar_lepvc" alt="" src="/public/Client/images/icon-image/avatar1.jpg">
                                            }

                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <span class="float-right">
                                                        <b class="collapsed" role="tab" id="headingOne_@item_comment.Id" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@item_comment.Id" aria-expanded="true" aria-controls="collapseOne_@item_comment.Id">
                                                            <small class="replay_comment">Trả lời</small>
                                                        </b>
                                                    </span>
                                                    <span class="comment-author"><a href="/Profile_User/Profile/@item_comment.Id_uer">@item_comment.name</a></span>
                                                    <span class="comment-date">@item_comment.Time.GetValueOrDefault().ToString("dd/MM/yyyy")</span>
                                                </div>
                                                <div class="comment-content-lepvc">
                                                    <p class="mb-0">
                                                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                                        @item_comment.Noi_dung
                                                    </p>
                                                    <span class="felling_is_of_your"><i onclick="Show_felling_ul_hide(@item_comment.Id)" class="fa fa-bandcamp"></i></span>
                                                    <input type="hidden" id="css_move_@item_comment.Id" value="1" />
                                                    <ul class="felling_ul_hide" id="show_ul_li_@item_comment.Id">
                                                        <li class="felling_vote"><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-thumbs-o-up"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-heart" aria-hidden="true"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-smile-o" aria-hidden="true"></i></li>
                                                        <li class="felling_vote"><i class="fa fa-thumbs-down" aria-hidden="true"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion" role="tablist">
                                    <div id="collapseOne_@item_comment.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_@item_comment.Id" style="">
                                        <div class="card-block">
                                            <form>
                                                <div class="form-group position-relative">
                                                    <input type="hidden" id="id_software" value="@ViewBag.Id_details_SoftWare">
                                                    <input class="form-control" id="noidung_@item_comment.Id" type="text" />
                                                    <div class="traloi_binhluan">
                                                        <i onclick="Send_comment_SW(@item_comment.Id)" class="fa fa-level-up fa-2x" title="Gửi"></i>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var item in list_reply_comment_software)
                                {
                                    if (item_comment.Id == item.Id_reply)
                                    {
                                        <ul class="comments-reply">
                                            <li>
                                                <div class="comment">
                                                    @if (item.Image_cus != null)
                                                    {
                                                        <img class="comment-avatar float-left" src="@item.Image_cus" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img class="comment-avatar float-left" alt="" src="/public/Client/images/icon-image/author.jpg">
                                                    }
                                                    <div class="comment-body">
                                                        <div class="meta-data">
                                                            <span class="float-right">
                                                                <a class="comment-reply" href="#"></a>@*//Trả lời*@
                                                            </span>
                                                            <span class="comment-author">@item.name</span>
                                                            <span class="comment-date">@item.Time.GetValueOrDefault().ToString("dd/MM/yyyy")</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p class="mb-0">
                                                                @item.Noi_dung
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        }
                    </ul>
                    <!-- Comments-list ul end -->
                </div>
                <!-- Comments Area End -->
                <div class="comments-form comment-border">
                    <h3 class="title-normal">Để lại bình luận của bạn</h3>
                    @using (Html.BeginForm("Comment_Soft_Ware", "Details_SW_"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" id="traloi">
                                    <input type="hidden" name="ID_Soft_Ware" value="@ViewBag.Id_details_SoftWare">
                                    @Html.TextBoxFor(model => model.Noi_dung, new { @class = "form-control", placeholder = "Bình luận của bạn ...." })
                                    @Html.ValidationMessageFor(model => model.Noi_dung)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix text-right">
                            <button class="btn btn-primary" type="submit">Bình luận</button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>

<section id="tw-call-to-action" class="tw-call-to-action">
    <div class="container">
        <div class="call-action-bg-pattern">
            <img src="/public/Client/images/services/call_to%20_action_img1.png" alt="">
            <img src="/public/Client/images/services/call_to%20_action_img2.png" alt="">
        </div>
        <!-- Bg Pattern End -->
        <div class="row">
            <div class="col text-center">
                <h2 class="column-title">
                    <span> +100,000 khách hàng đã sử dụng </span>
                </h2>
            </div>
        </div>
    </div>
</section>
